APP_TITLE = Благотворительного_фонда_поддержки_котиков_QRKot
DESCRIPTION = ОПИСАНИЕ_АПИ
DATABASE_URL = ссылка_базы_данных
SECRET = секретный_ключ
FIRST_SUPERUSER_EMAIL = почта_супер_пользователя
FIRST_SUPERUSER_PASSWORD = пароль_супер_польз